<div class="ui basic padded segment navbar">

    <div class="ui secondary menu" data-th-fragment="menu" style="width: 100%">
        <div class="menu">
            <div class="ui basic  segment">
                <img th:src="@{images/rel8ed_to_logo.jpg}" alt="logo" width="100" height="100">
            </div>
            <div class="ui basic  segment">
                <h1 class="ui title header">
                    REL8TED Full Text Search
                </h1>
            </div>
        </div>
        <div class="right menu">
            <div class="ui right aligned horizontal search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>

            <script>
                $('.ui.search')
                    .search({
                        apiSettings: {
                            url: '/api/search?q={query}'
                        },
                        minCharacters: 2
                    });

            </script>

        </div>
    </div>


</div>